<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home / Twitter</title>
    <link
      type="image/png"
      sizes="96x96"
      rel="icon"
      href="../assets/twitter/favicon.ico"
    />
    <link rel="stylesheet" href="../css/twitter.css" />
    <script
      src="https://kit.fontawesome.com/f933819f72.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="pageGridContainer">
      <div class="header">
        <div class="header-fixed">
          <div class="nav">
            <div class="logo-header">
              <img
                src="../assets/twitter/twitterwhite.png"
                class="icons"
                style="width: 16px"
              />
              <h1 class="item-text-div">abdulaziz</h1>
            </div>
            <a href="#Home">
              <div class="nav-item-wrapper">
                <div class="icons">
                  <img
                    src="../assets/twitter/icons/homeicon.png"
                    class="icons"
                    alt="Home Icon"
                  />
                </div>
                <div class="item-text-div"><span>Home</span></div>
              </div>
            </a>
            <a href="#Explore">
              <div class="nav-item-wrapper">
                <div class="icons">
                  <img
                    src="../assets/twitter/icons/hashtagicon.png"
                    class="icons"
                    alt="Explore Icon"
                  />
                </div>
                <div class="item-text-div"><span>Explore</span></div>
              </div>
            </a>
            <a href="#Notifications">
              <div class="nav-item-wrapper">
                <div class="icons">
                  <img
                    src="../assets/twitter/icons/notificationicon.png"
                    class="icons"
                    alt="Notifications Icon"
                  />
                </div>
                <div class="item-text-div"><span>Notifications</span></div>
              </div>
            </a>
            <a href="#Messages">
              <div class="nav-item-wrapper">
                <div class="icons">
                  <img
                    src="../assets/twitter/icons/messageicon.png"
                    class="icons"
                    alt="Messages Icon"
                  />
                </div>
                <div class="item-text-div"><span>Messages</span></div>
              </div>
            </a>
            <a href="#Bookmarks">
              <div class="nav-item-wrapper">
                <div class="icons">
                  <img
                    src="../assets/twitter/icons/bookmarkicon2.png"
                    class="icons"
                    alt="Bookmarks Icon"
                  />
                </div>
                <div class="item-text-div"><span>Bookmarks</span></div>
              </div>
            </a>
            <a href="#Lists">
              <div class="nav-item-wrapper">
                <div class="icons">
                  <img
                    src="../assets/twitter/icons/listsicon.png"
                    class="icons"
                    alt="Bookmarks Icon"
                  />
                </div>
                <div class="item-text-div"><span>Lists</span></div>
              </div>
            </a>
            <a href="#Profile">
              <div class="nav-item-wrapper">
                <div class="icons">
                  <img
                    src="../assets/twitter/icons/profileicon.png"
                    class="icons"
                    alt="Bookmarks Icon"
                  />
                </div>
                <div class="item-text-div"><span>Profile</span></div>
              </div>
            </a>
            <a href="#More">
              <div class="nav-item-wrapper">
                <div class="icons">
                  <img
                    src="../assets/twitter/icons/moreicon.png"
                    class="icons"
                    alt="Bookmarks Icon"
                  />
                </div>
                <div class="item-text-div"><span>More</span></div>
              </div>
            </a>
            <div class="tweet-btn-div">
              <button class="tweetBtn">Tweet</button>
            </div>
          </div>
          <div class="account-div">
            <div class="account-wrapper">
              <img
                src="../assets/twitter/profileimage.jpg"
                alt="user profile image"
                style="width: 30px; height: 30px; border-radius: 50%"
              />
              <div class="account-name">
                <h2>Abdulaziz</h2>
                <p>@Aziz</p>
              </div>
              <div class="dots-div">
                <i class="fa-solid fa-ellipsis fa-2xs" style="color: white"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="topBar">
          <h2>Home</h2>
          <p class="top-tweet-icon"><img src="../assets/twitter/icons/starsicon.png" alt="top tweet stars" width="16px"/> </p>
        </div>
        <div class="middle-part-container">
          <div class="textArea-profile-div">
            <img
            src="../assets/twitter/profileimage.jpg"
            alt="user profile image"
            style="width: 32px; height: 32px; border-radius: 50%"
          /> 
          <input type="text" class="tweetTextInput" placeholder="What's happening?">
          </div>
          <div class="buttons-tweet">
            <div class="buttons-icons">
              <img src="../assets/twitter/icons/pictureicon.svg" alt="upload picture icon" width="13px" height="13px">
              <img src="../assets/twitter/icons/gificon.png" alt="upload gif icon" width="13px" height="13px" >
              <img src="../assets/twitter/icons/poolicon.png" alt="pool icon" width="13px" height="13px" >
              <img src="../assets/twitter/icons/smileicon.png" alt="search emojis icon" width="13px" height="13px" >
              <img src="../assets/twitter/icons/scheduleicon.png" alt="schedule icon" width="13px" height="13px" >
              <img src="../assets/twitter/icons/visiticon.png" alt="visit icon" width="13px" height="13px" >
            </div>
            <div class="tweet-button-input-div">
              <button class="tweet-button-input">Tweet</button>
            </div>
          </div>
        </div>
        <div class="tweets">
          <div>
            <div class="profileImage">

            </div>
            <div class="tweet-content">
              <div class="tweet-text"></div>
              <div class="tweet-image"></div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <!-- right side -->
        <input type="text" />
      </div>
    </div>
  </body>
</html>
