@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&family=Roboto:wght@100;300;400&display=swap');
:root{
    --font-family:'Roboto', sans-serif;
    --font-weight-regular:400;
    --font-weight-med-light:300;
    --font-weight-light:100;

    --font-arabic: 'Noto Naskh Arabic', serif;

    --color-blk:#000000;
    --color-blue: #1d9bf0;
    --color-blue-disabled: #0e4d77;
    --color-white:#eff3f4;
    --color-off-white:#e7e9eade;
    --color-white-disabled: #7f7f7f;

    --background-color-nav:#181818;
    --background-color-allPage:#000000;
    --background-color-search: #202327;
    --border-radius-circ:2.1vw;
    --border-line: 1px #2f3336 solid;
}

* , *::before, *::after{
    box-sizing: border-box;
}


*{
    
    font: inherit;
    font-family: var(--font-family);
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
body{
    min-height: 100vh;
    background-color: var(--background-color-allPage);
}

img,picture,svg,video,i{
    display: block;
    max-width: 100%;
}

.pageGridContainer{
    display: grid;
    grid-template-columns: .9fr 1fr 1fr;  

}
.header{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 position: relative;
 


}

.main{
    border: 1px #2f3336  solid;
    height: 100px;
    height: fit-content;
   width: calc(90% - 20px);
}

.header-absolute{
    position: absolute;
   
    height: 100%;
}
.header-fixed{
    position: fixed;
    top: 0;
  padding-top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  
} 

.logo-header{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 16px;
   margin-bottom: 10px;
}


.icons{
    width: 35px;
    cursor: pointer;
}

.nav-item-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 1.3rem;
    font-weight: var(--font-weight-regular);
    padding: 10px;
}
.nav-item-wrapper:hover{
   background-color: var(--background-color-nav);
    border-radius: var(--border-radius-circ);
    color: var(--color-white);
    transition: all 0.3s ease;
}

.new-tweet{
    display: none;
    
}
.nav > a{
    margin-bottom: 10px;
    display: block;
}
.nav > a:first-child{
    color: var(--color-white);
    
   
}
.nav > a:not(a:first-child){
    color: var(--color-off-white);
   
}

.item-text-div{
    display: block;
    width: clamp(70px,50%,94px);
 
}

.tweetBtn{
    margin-top: 10px;
    margin-left: 10px   ;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 10px;
    width: 100%;
    border-radius: var(--border-radius-circ);
    transition: 0.2s;
    font-size: 24px;
    font-weight: var(--font-weight-regular);
    cursor: pointer;
    border: none;
}
.tweetBtn:hover{
    background-color: rgb(26, 140, 216);
   
}


.account-div{
    display: flex;
    
}
.account-wrapper{
    cursor: pointer;
    margin-bottom: 12px;
    margin-top: 12px;
    width: 100%;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account-wrapper:hover{
    background-color: var(--background-color-nav);
    border-radius: var(--border-radius-circ);
    color: var(--color-white);
    transition: all 0.3s ease;
   
}
.account-name{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-right: 20px;
}
.account-name > h2{
    font-size: 1.5rem;
    height: 0px;


}
.account-name > p {
   height: 0px;
   position: relative;
   bottom: 6px;
    color: var(--color-white-disabled);
    font-size: 1rem;
    font-weight: var(--font-weight-med-light);
}

.topBar{
    display: flex;
    justify-content: space-between;
    padding:5px 5px 5px 10px;
    color: var(--color-white);
    height: 50px;
}
.topBar > * {
    height: fit-content;
}

.top-tweet-icon{
   padding: 5px;
    display: flex;  
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.top-tweet-icon:hover{
    background-color: var(--background-color-nav);
    border-radius: var(--border-radius-circ);
    color: var(--color-white);
    transition: all 0.3s ease;
   
}

.middle-part-container{
    border-bottom: var(--border-line);
}
.textArea-profile-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.tweetTextInput{
    background-color: var(--background-color-allPage);
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding-left: 10px;
    width: 100%;
    color: var(--color-white);
}

.buttons-tweet{
    display: flex;
    align-items: center;
}
.buttons-icons{
display: flex;
gap: 10px;
padding: 10px 10px 10px 50px;
width: 100%;
}
.buttons-icons > *{
    cursor: pointer;
}

.tweet-button-input-div{
    padding: 5px;
}
.tweet-button-input{
    background-color: var(--color-blue-disabled);
    color: var(--color-white-disabled);
    border-radius: var(--border-radius-circ);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    padding: 5px;
    width: 60px;
    margin-left: 26px;
    border: none;
}


.tweet-wrapper{
    display: flex;
    border-bottom: var(--border-line);
    
}
.profileImage{
    width: 70px;
    padding: 10px;
}

.username-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    height: 20px;
    padding: 20px 5px 5px 5px;
}
.username-text{
    margin-left: 3px;
    font-size: 1rem;
    color: var(--color-white-disabled);
}
.tweet-content{
    color: var(--color-white);
    padding-top: 5px;
 
}

.user-profile-tweet{
    max-width: 50px;
    height: 50px;
    border-radius: 50%; 
    cursor: pointer;
}

.tweet-text-wrapper{
    padding: 10px;
}
.tweet-text{
    
    margin: 0;
    font-size: 1.5rem
}
.tweet-image{
    border-radius: 16px;
}

.arabic-text{
    font-family: var(--font-arabic);

}
.tweet-image-wrapper{
    margin-top: 5px;
    border-radius: 16px;
    padding: 10px 20px 10px 10px;
   
}

.tweet-related-icons-div{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px;
}
.tweet-related-icons-div > div{
    display: flex;
    justify-content: baseline;
    align-items: center;
    cursor: pointer;
}
.tweet-related-icons-div > div > span{
    transition: .3s;
    color: #7F7F7F;
     font-size: 1rem; 
     margin-left: 8px;
}
.tweet-related-icons-div > div > img{
    width: 24px;
}
.tweet-related-icons-div > div:nth-child(1):hover  span{
    color: var(--color-blue)
}
.tweet-related-icons-div > div:nth-child(2):hover  span{
    color: rgb(0, 186, 124)
}
.tweet-related-icons-div > div:nth-child(3):hover  span{
    color: rgb(249, 24, 128)
}

.search-news-right-side{
    display: flex;
    flex-direction: column;
    padding: 5px;
   position: relative;
   right: 40px;
    
}
.search-news-wrapper{
    position: fixed;
    width: 20%;
}
.search-div{
    border-radius: var(--border-radius-circ);
    background-color: var(--background-color-search);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
    margin-bottom: 10px;
}
.search-input{
    background-color: var(--background-color-search);
    color: var(--color-white);
    border-radius: var(--border-radius-circ);
    outline: none;
    border: none;
    padding: 5px;
    font-size: .7rem;
}

.search-div > div:nth-child(1){
    padding: 5px;
    margin-left: 5px;
}
.search-icon{
    color: var(--color-white-disabled);
    font-size: 0.8rem;
}



.trends-container{
    color: white;
    background-color: var(--background-color-search);
    border-radius: 8px; 
}
.trend-headtext{
    font-size: 1.5rem;
    padding: 10px;
}
.trend-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 13px;
    padding: 10px;
}

.trend-wrapper:hover{
    background-color: rgba(255, 255, 255, 0.03);
    cursor: pointer;
}
.news-tags{
    font-size: 0.8rem;
    color: var(--color-white-disabled);
}
.news-header{
    margin: 3px 0 0 0;
    font-size: 1.2rem;
}
.ballTrend{
    width: 68px;
    border-radius: 8px;
}

.trend-details{

    padding: 10px;
}

.trend-details:hover{
    background-color: rgba(255, 255, 255, 0.03);
    cursor: pointer;
}
.trend-onlyontwitter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.813rem;
    color: var(--color-white-disabled);
}
.trend-title-div{
    height: 20px;
}


.trend-title{
    float: right;
    margin: 0;
    font-family: var(--font-arabic);
    font-size: 1.5rem;
}
.dots{
    font-size: 1rem;
}
.dots:hover{
    cursor: pointer;
    color: var(--color-blue);
}
.tweet-count-trend{
    font-size: 0.813rem;
    color: var(--color-white-disabled);
}

.whoToFollow-container{
    color: white;
    background-color: var(--background-color-search);
    border-radius: 8px;
    margin-top: 10px;
}

.user-profile-follow-div{
display: flex;
justify-content: space-around;
align-items: center;
padding: 10px;
}
.user-profile-follow-div:hover{
    background-color: rgba(255, 255, 255, 0.03);
    cursor: pointer;
}

.user-tofollow-name > * {
    margin: 0;
}
.user-tofollow-name > h3{
    font-size: 0.938rem;
    max-width: 142px ;
}
.user-tofollow-name > p{
    font-size: 0.813rem;
    color: var(--color-white-disabled);

}
.follow-whotofollow > button{
    outline: none;
    border: none;
    font-size: 0.938rem;
    border-radius: var(--border-radius-circ);
    padding: 11px 15px 11px 15px;
    min-width: 60px;
    cursor: pointer;
}
.show-more-div{
    width: 100%;
    color: var(--color-blue);
}
.small-nav{ 
    display: none;
}
.small-user-details-wrapper{
    display: none;
}
.small-user-details-container{
    display: none;
}



@media only screen and (max-width: 1380px) {
    .logo-header{
        width: 10vw;
    }
    .nav-item-wrapper{
        width: 10vw;
    }
    .item-text-div{
        display: none;
    }
    .account-name{

        display: none;
    }
    .dots-div{
        display: none;
    }
    .tweet-btn-text{
        display: none;
    }
    .new-tweet{
        display: block;
    }
    .tweet-btn-div{
        display: flex;
        justify-content: center;
    }
    .tweetBtn{
        margin-top: 0;
        margin-left: 0   ;
        background-color: var(--color-blue);
        color: var(--color-white);
        padding: 10px;
        width: fit-content;
    }
  
  }
  @media only screen and (max-width: 1100px) {
      .search-news-right-side{
        display: none;
      }
      .pageGridContainer {
        display: grid;
        grid-template-columns: .9fr 3fr;
    }
    .main{
       width: fit-content
    }
    
}
  @media only screen and (max-width: 543px) {
    .small-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: 5px;
        border-top: var(--border-line);
        background-color: var(--background-color-allPage);
    }
    .small-user-details-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 0;
        padding: 5px 5px 5px 13px;
        
        background-color: var(--background-color-allPage);
        
    }
    .profile-image-home-div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }
    .small-user-details-container{
        display: block;
        width: 100%;
        height: 50px;
    }
    .small-nav > a{
        padding: 10px;
     
    }
    .small-nav > a:hover{
      
        background-color: var(--background-color-nav);
        border-radius: 50%;
    }
    .header{
        display: none;
    }
    .pageGridContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .topBar{
        display: none;
    }
    .middle-part-container{
        display: none;
    }
    .main{
        
        border: none;
    }
    .tweet-wrapper{
      
        padding: 20px;
    }
    .tweet-related-icons-div > div > img{
        width: 23px;
    }
  }